<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../style/panel-style.css">
    <meta charset="UTF-8">
    <title>Show capaigns</title>
</head>
<body>
<h1>
    Show campaigns
</h1>

<table>
    <tr>
        <th>
            Campaign name
        </th>
        <th>
            Keywords
        </th>
        <th>
            Bid amount
        </th>
        <th>
            Campaign fund
        </th>
        <th>
            Status
        </th>
        <th>
            Town
        </th>
        <th>
            Radius
            <c>[km]</c>
        </th>

    </tr>
    <tr th:each="form : *{showCampaignsLists}">
        <td th:text="${form.campaignName}" align="center"></td>
        <td th:text="${form.keyword}" align="center"></td>
        <td th:text="${form.bidAmount}" align="center"></td>
        <td th:text="${form.campaignFund}" align="center"></td>
        <td th:text="${form.status}" align="center"></td>
        <td th:text="${form.town}" align="center"></td>
        <td th:text="${form.radius}" align="center"></td>
    </tr>
</table><br><br><br>
<div style="text-align: center;">
    <form>
        <input type="button" value="Back" onclick="history.back()">
    </form>
</div>
</form>

</body>
</html>