<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/campaign-style.css">
    <title>Campaign creator!</title>
</head>
<body>

<p class="font-Pacifico">
    Campaign creator!<br>
</p>

<div class="clearfix">

    <div class="img-box" align="center">
        <center>
        <a href="/panel">

                <button class="button-style">
                Control Panel
            </button>


        </a>
        </center>
    </div>
    <div class="img-box">
    </div>

</div>
</body>
</html>