<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/panel-style.css">
    <meta charset="UTF-8">
    <title>Control Panel</title>
</head>
<body>
    <h1>
        Control Panel<br>
    </h1>

<table>
    <tr>
        <th>
            Function
        </th>
        <th>
            Description
        </th>
    </tr>
    <tr>
        <td>
            <a href="/panel/show-campaigns">
                <button>
                    Show campaigns
                </button>
            </a>
        </td>
        <td>
            Show all campaigns
        </td>
    </tr>
    <tr>
        <td>
            <a href="/panel/add-campaigns">
                <button>
                    Add campaign
                </button>
            </a>
        </td>
        <td>
            Add new campaign
        </td>
    </tr>
    <tr>
        <td>
            <a href="/panel/edit-campaigns">
                <button>
                    Edit campaigns
                </button>
            </a>
        </td>
        <td>
            Edit campaigns
        </td>
    </tr>
    <tr>
        <td>
            <a href="/panel/delete-campaigns">
                <button>
                    Delete campaigns
                </button>
            </a>
        </td>
        <td>
            Delete campaigns
        </td>
    </tr>

</table>

</body>
</html>